<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>En mi vida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="video-container">
        <iframe src="/assets/video/mivida.mp4" frameborder="0" allowfullscreen></iframe>
      </div>
      <p>

      </p>
      <h2>Lo que mas me impacto de la pelicula</h2>
    </ion-card-content>
  </ion-card>
</ion-content>
