<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>contratame</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-content [fullscreen]="true">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Presentacion</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <p>Nombre: Saul Duran</p>
        <p>Matricula: 2020-9489</p>
        <p>Carrera: Desarrollo de software</p>
        <p>Correo: sdf71.sdf@gmail.com</p>
        <img src="assets/img/yo.jpg" alt="Saul duran" width="100%" height="1%">
      </ion-card-content>
    </ion-card>
  </ion-content>
