<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>personajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-content [fullscreen]="true">
    <ion-card>
      <ion-card-header>
        <ion-card-title></ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <a href="https://en.wikipedia.org/wiki/Mary_Jane_Watson_(Sam_Raimi_film_series)">Mary Jane Watson</a>
        <p></p>
        <a href="https://es.wikipedia.org/wiki/Spider-Man_(película)">Peter Parker</a>
        <p></p>
        <a href="https://es.wikipedia.org/wiki/Harry_Osborn">Harry Osborn</a>
        <p></p>
        <a href="https://es.wikipedia.org/wiki/Norman_Osborn_(trilogía_de_Sam_Raimi)">Norman Osborn</a>
      </ion-card-content>
    </ion-card>
  </ion-content>
