<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>momentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src="https://i.ytimg.com/vi/gjeOZ4sR7qY/maxresdefault.jpg" alt="" width="100%" height="1%">
      <a href="https://www.youtube.com/embed/v87PsTbpxzk?t=31">Un gran poder conlleva una gran responsabilidad</a>
    </ion-card-content>

    <ion-card-content>
      <img src="https://i.ytimg.com/vi/imrFQ5PjvZk/hqdefault.jpg" alt="" width="100%" height="1%">
      <a href="https://youtu.be/dWgd2yM9mh8">Peter Pelea En La Lucha Libre</a>
    </ion-card-content>

    <ion-card-content>
      <img src="https://pm1.aminoapps.com/6297/b9014fdc0ac15442a4ccacc0e02751a29c61046b_00.jpg" alt="" width="100%" height="1%">
      <a href="https://youtu.be/UQr0unVKjIo">Peter Persigue Al Asesino Del Tío Ben</a>
    </ion-card-content>
  </ion-card>
</ion-content>

