<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>acercaDe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>

    <swiper-container>

      <swiper-slide>
        <ion-card-content>
          <img src="assets/img/peterParker.jpg" alt="" width="100%" height="1%">
          <img src="assets/img/Peter.jpg" alt="" width="100%" height="1%">
          <p>
            Huérfano, Peter Parker fue criado por su tía May y su tío Ben en el barrio de Queens de Nueva York. Mientras estudia en la universidad, encuentra un trabajo de fotógrafo en el periódico Daily Bugle. Comparte su apartamento con Harry Osborn, su mejor amigo, y sueña con seducir a la bella Mary Jane.
          </p>
          
        </ion-card-content>
      </swiper-slide>
      <swiper-slide>

        <ion-card-content>
          <img src="assets/img/Spider-Man 2002.jpg" alt="" width="100%" height="1%">
          <p>Sin embargo, después de que le picara una araña modificada genéticamente, la agilidad y la fuerza de Peter aumentan y descubre poderes sobrenaturales. Convertido en Spiderman, decide utilizar sus nuevas habilidades al servicio del bien.
            Al mismo tiempo, el padre de Harry, el rico industrial Norman Osborn, es víctima de un accidente químico que ha aumentado desmesuradamente sus facultades intelectuales y su fuerza, pero le ha vuelto loco. Se convierte en el Duende Verde, una criatura demoniaca 
            que amenaza la ciudad. Se desencadena una lucha sin piedad entre él y Spiderman.</p>
        </ion-card-content>
        
      </swiper-slide>

      <swiper-slide>
          
        <img src="https://m.media-amazon.com/images/M/MV5BODQ0NjI0NzkzMV5BMl5BanBnXkFtZTYwMDc0ODk1._V1_FMjpg_UX1000_.jpg" alt="" width="100%" height="1%">
        
        <p>Spider-Man (El hombre araña en Hispanoamérica) es una película estadounidense del 2002 dirigida por Sam Raimi, inspirada en el cómic homónimo creado por Stan Lee y Steve Ditko en 1962.</p>
        
        <h1></h1>
    </swiper-slide>

    </swiper-container>
 
  </ion-card>
</ion-content>

